In [1]:
import pandas as pd
import numpy as np

In [2]:
dayList = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]

In [3]:
dayNumberList = [1, 2, 3, 4, 5, 6, 7]

In [8]:
data = list(zip(dayNumberList, dayList))

In [9]:
data

[(1, 'Monday'),
 (2, 'Tuesday'),
 (3, 'Wednesday'),
 (4, 'Thursday'),
 (5, 'Friday'),
 (6, 'Saturday'),
 (7, 'Sunday')]

In [20]:
dataFrame = pd.DataFrame(data = data, index = ["-", "-", "-", "-", "-", "-", "-"],columns = ["Number of Day", "Name of Day"])

In [21]:
dataFrame

   Number of Day Name of Day
-              1      Monday
-              2     Tuesday
-              3   Wednesday
-              4    Thursday
-              5      Friday
-              6    Saturday
-              7      Sunday

In [22]:
sportList = ["Basketball", "Football", "Golf", "Volleyball"]
dayList = ["Friday", "Tuesday", "Monday", "Thursday"]

In [24]:
data = list(zip(sportList,dayList))

In [25]:
data

[('Basketball', 'Friday'),
 ('Football', 'Tuesday'),
 ('Golf', 'Monday'),
 ('Volleyball', 'Thursday')]

In [29]:
dataFrame = pd.DataFrame(data = data, columns = ["Sport", "Day"])

In [30]:
dataFrame

        Sport       Day
0  Basketball    Friday
1    Football   Tuesday
2        Golf    Monday
3  Volleyball  Thursday

In [48]:
dataFrame.iloc[1]

Sport    Football
Day       Tuesday
Name: 1, dtype: object

In [50]:
dataFrame["Sport"]

0    Basketball
1      Football
2          Golf
3    Volleyball
Name: Sport, dtype: object