In [30]:
import pandas as pd
import numpy as np

### Merge

In [31]:
dictionary1 = {"Name" : ["A", "B", "C", "D"],
               "Sport" : ["Running", "Football", "Running", "Swimming"],
              }

dictionary2 = {"Name" : ["A", "B", "C", "D"],
               "Calory" : [100, 200, 300, 400]
              }

In [32]:
dataFrame1 = pd.DataFrame(dictionary1)
dataFrame2 = pd.DataFrame(dictionary2)

* on parametresine hangi ortak kolon üzerinden işlem yapmak istiyorsak o kolonun adını gireriz.

In [34]:
myMerge = pd.merge(dataFrame1, dataFrame2, on = "Name")

In [35]:
myMerge

  Name     Sport  Calory
0    A   Running     100
1    B  Football     200
2    C   Running     300
3    D  Swimming     400

In [36]:
myMerge = pd.DataFrame(myMerge, index = [1,2,3,4])

In [37]:
myMerge

  Name     Sport  Calory
1    B  Football   200.0
2    C   Running   300.0
3    D  Swimming   400.0
4  NaN       NaN     NaN